---
import { getLangFromUrl } from "../i18n/utils";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import BaseLayout from "../layouts/base-layout.astro";
import GetInTouch from "../sections/get-in-touch.astro";
import Project from "../sections/project.astro";

const { prefix } = getLangFromUrl(Astro.url);
---

<BaseLayout>
  <Header />
  <main>
    <h1>Graphic Design</h1>

    <ul>
      <li><a href={`${prefix}`}>Home</a></li>
      <li><a href={`${prefix}company`}>Our Company</a></li>
      <li><a href={`${prefix}location`}>Location</a></li>
      <li><a href={`${prefix}contact`}>Contact</a></li>
    </ul>

    <Project includeIds={["app-design", "web-design"]} sortDesc={true} />
    <GetInTouch />
  </main>
  <Footer />
</BaseLayout>
